<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.snjdeveloper">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppUpdateActivity" />
        <activity
            android:name=".notification.BottomBoxNotification"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.ControllerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".admin.HomeAdmin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            tools:ignore="LockedOrientationActivity" /> <!-- android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" -->
        <activity
            android:name=".qrcode.LiveBarcodeScanningActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlackBar"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".admin.CustomerInfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".admin.OrderInfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".admin.NewRecordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".newdata.NewOrderActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AdminInfoActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ChangeLoginCredentialsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ExtraActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".newdata.NewTransactionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".newdata.NewReturnBottlesActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".StatsBottleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".AllCustomerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.NotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.NotificationControllerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.SendPopupNotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.SendNotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.NewScheduledNotification"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.ExtraNotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.SendBillActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.AllBlockedUsersActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".user.DeleteUserActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ImageViewerActivity"
            android:theme="@style/AppThemeBlack" />
        <activity
            android:name=".LoadWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".notification.SavedNotificationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".extra.FileSelector" />
        <activity
            android:name=".ServerImagesManagement"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeBlack" />
        <activity android:name=".messages.ProblemReports" />
        <activity android:name=".messages.GeneralProblemActivity" />
        <activity android:name=".storage.StorageFileActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- Set fcm default channel -->
        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>